.wrapper
	position: relative

.header
	z-index: 10

.pinButton
	position: absolute
	bottom: 1.25rem
	left: 50%
	transform: translateX(-50%)
	width: 100%
	display: flex
	justify-content: center

.overlay
	position: fixed
	inset: 0
	background: rgba(255, 255, 255, 0.8)
	z-index: 1

.stepGroup
	z-index: 0
	// &.isActive
	// 	z-index: 2

.contentIn
	margin-top: 1.875rem

.tipGroupList
	margin-bottom: 1.875rem

.stepGroupList
	display: grid
	gap: 1.875rem
