.wrapper
	position: relative

.header
	z-index: 10

.overlay
	position: absolute
	inset: 0
	background: rgba(255, 255, 255, 0.8)
	z-index: 1

.stepGroup
	z-index: 0
	// &.isActive
	// 	z-index: 2

.contentIn
	margin-top: 1.875rem

.tipGroupList
	margin-bottom: 1.875rem

.stepGroupList
	display: grid
	gap: 1.875rem
