@use 'sass:math'

.wrapper
	position: relative
	color: #FFF
	border-radius: 1.875rem
	overflow: hidden
	min-width: 11.25rem

.content
	position: relative

.image
	position: relative
	aspect-ratio: 180 / 300

.title
	font-weight: 800
	font-size: 1.5625rem
	line-height: math.div(35, 25)

.contentIn
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	padding: 1.25rem
	display: flex
	flex-direction: column
	justify-content: flex-end

.price
	display: flex
	margin-top: 0.625rem
